@import mainstripe

body
  font-size: 18px
  line-height: 140%
  font-family: 'Lato'
  background: #fff

.content
  padding: 15px
  background: white

[role="page-container"]
  @media (max-width: 767px)
    background: #eee

.top-bar
  height 3em
  padding 0 3em 0 3em
.title-area
  padding-top 0.5em  
  color #D05833
.top-bar-section ul li > a
  font-size 1em
  line-height 0
