.mainstripe
  .content
    position: relative
    padding: 0
    background-color: red
    height: 100vh
    width: 100vw
    overflow: hidden
    .videoLayer
      video
        position: fixed
        right: 50%
        bottom: 50%
        transform: translate3d(50%, 50%, 0)
        min-width: 100%
        min-height: 100%
        width: auto
        height: auto
    .dimmingLayer
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: rgba(0,0,0,0.72)
    .infoLayer
      text-align: center
      width: 100%
      position: absolute
      top: 60%
      left: 50%
      transform: translate3d(-50%, -60%, 0)
      .tagLine, .tagDesc
        font-size: 2em
        color: #eee
      .tagDesc
        color: #A0A0A0
