body
  font-size: 18px
  line-height: 140%
  font-family: 'Roboto'
  background: #fff

.content
  margin-top: 15px
  padding: 15px
  background: white

[role="page-container"]
  @media (max-width: 767px)
    background: #eee
