template(name='register')
  form(id='register-form')
    div Name: 
      input(type='text', id='register-name')
    div Family Name:
      input(type='text', id='register-surname')
    div Username:
      input(type='text', id='register-username')
    div Email: 
      input(type='email', id='register-email')
    div Password: 
      input(type='password', id='register-password')
    
    button.btn.waves-effect.waves-light(type="submit", name="register") Submit
