<!doctype html>
<html>
<head>
	<title>Omnifee | Profile</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.payment/1.0.2/jquery.payment.min.js"></script>

  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<style>
		body 		{ padding-top:50px; word-wrap:break-word; }
body {
  font-size: 18px;
  font-family: 'Lato';
  background: #fff;
}
.select-card a{
	margin-left: 2em;
	color: #333333 ;
}
.select-card a:hover{
	color: #F45537;
}
.content {
  padding: 15px;
  background: #fff;
}
[role="page-container"] {
  padding-top: 50px;
}
@media (max-width: 767px) {
  [role="page-container"] {
    background: #eee;
  }
}

.top-bar {
  height: 3em;
  padding: 0 3em 0 3em;
}
.title-area {
  padding-top: 0.5em;
  color: #d05833;
}
.top-bar-section ul li > a {
  font-size: 1em;
  line-height: 0;
}
/* Form styles */
.has-error input {
  border-width: 2px;
  border-color: #f00;
}
.has-no-error input {
  border-width: 2px;
  border-color: #008000;
}
.validation.text-danger:after {
  content: 'Validation failed';
}
.validation.text-success:after {
  content: 'Validation passed';
}
.credit-card {
  font-size: 3em;
}
.btn {
  background: #f45537;
  border: 0;
}
.btn:hover {
  background: #fa6143;
}
.login-logo {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.login {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
}
.nu-ai-cont {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  max-width: 320px;
}
.preferences {
  background: #1a1a1a;
}
ul {
  list-style-type: none;
}
a {
  color: #f45537;
}
a:hover {
  color: #f45537;
  text-decoration: none;
}
.fixed {
  position: fixed;
}
.bill {
  background: #e8e8e8;
  height: 8em;
  margin: 0 0 1em 0;
  padding: 1em;
}
.bill-thumb {
  height: 6em;
}
@media (max-width: 767px) {
	.bill-thumb {
		height: 3.5em;
	}
}

.bill-info {
  font-size: 0.5em;
}
.bill-pay {
  float: right;
}
.price {
  color: #f45537;
}
.pay {
  margin-bottom: -5em;
}
.total-price {
  float: right;
  margin: 1em 0 0 0;
  color: #f45537;
}
.center {
  text-align: center;
}
.btn {
  border-radius: 0;
}
.input-lg {
  border-radius: 0;
}
.balance-number {
  color: #008000;
  float: right;
}
.sidebar {
	height: 100vh;
}
.preferences {
	height: 100%;
}

@media (max-width: 767px) {
	.bills-to-pay {
		padding: 50px;
	}
}
.menu-options {
	padding-top: 50px;
	width: 100%;
}

.menu-options a {
	font-weight: 100;
	font-size: 1.3em;
	line-height: 2.6em;
	color: #a1a1a1
}

	</style>
<style>
.navbar-brand{
  height: 3em;
  width: auto;
  margin-top: -1px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;

}
.navbar{
  /*background: #333333;*/
  border: 0;
  background: rgba(51,51,51,0.95)
}
.nav a{
  color: #a1a1a1 !important;
}
.nav a:hover{
  color: #eeeeee !important;
}
.menu-options a:hover{
  color: #eee;
}
</style>
</head>
<body>
<nav role="nagivation" class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand"><img class="navbar-brand" src="/assets/omnifee.png" alt="Brand"/></a>
    </div>
    <div id="navbar-collapse" class="collapse navbar-collapse navbar-right">
      <ul class="nav navbar-nav">
        <li><a href="/">Log out</a></li>
      </ul>
    </div>
  </div>
</nav>



    <div class="row">
      <div class="col-sm-3 sidebar">
        <div class="preferences">
          <div class="menu-options">
            <ul>
              <li>
                <a href="/profile">
                  Facturi Curente
                </a>
              </li>
              <li>
                <a href="/history">
                  Istorie Facturi
                </a>
              </li>
              <li>
                <a href="/alimentare">
                  Alimentare Cont
                </a>
              </li>
              <li>
                <a href="">
                  Statistici
                </a>
              </li>
              <li>
                <a href="/settings">
                  Setari
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-8 bills-to-pay">
            <h2>

              <i class="fa fa-credit-card">

              </i>
              Alimentare Cont
            </h2>
        <div class="row balance">
          <div class="col-xs-6">
            <h2>

              <i class="fa fa-money">

              </i>
              Balanta
            </h2>
          </div>
          <div class="col-xs-6">
            <h2 class="balance-number">
              <span><%= user.balance %></span> RON
            </h2>
          </div>
        </div>
        <div>
        	<h3>Plata cu Cardul</h3>
	        <form novalidate="" autocomplete="on">
	          <div class="form-group">
	            <label for="alimentare" class="control-label">Introduceti suma in RON</label>
							<span id="warn"></span>
	            <input type="text" required="" name="alimentare" class="input-lg form-control" id="amount"/>
	          </div>
        		<!-- <h4>Selectati cardul cu care doriti sa alimentati:</h4>
        		<div class="select-card">
        			<a href='#' onclick='return false'>
								<span class="cc-type"></span>
		            <span class="cc-number"><%= user.cardNumber %></span>
            	</a> -->
          </div>

						<div class="form-group">
							<label for="cc-number" class="control-label">Card<small class="text-muted"> <span class="cc-brand"></span> </small></label>
							<input id="cc-number" type="text" pattern="d*"  placeholder="Card number" required="" name="cardNumber" class="input-lg form-control cc-number"/>
						</div>
						<div class="form-group">
							<label for="cc-exp" class="control-label">Expiry formatting</label>
							<input id="cc-exp" type="text" pattern="d*"  placeholder="Expires MM/YY" required="" name="cardExpiry" class="input-lg form-control cc-exp"/>
						</div>
						<div class="form-group">
							<label for="cc-cvc" class="control-label">CVC formatting</label>
							<input id="cc-cvc" type="text" pattern="d*" placeholder="Security code" required="" name="cardCVC" class="input-lg form-control cc-cvc"/>
						</div>

        	<h3>Cod prepaid</h3>
	            <input type="text" placeholder="J8S%k@jd93Io!4y" required="" name="codprepaid" class="input-lg form-control"/>
	          <br>


	         <button class="btn btn-lg btn-primary" id="quickAdd">Alimenteaza</button>
						<h2 class="validation"></h2>
	        </form>
	<script charset="utf-8">

	$( document ).ready(function() {
		var ok = 1;


jQuery(function($) {
	$('[data-numeric]').payment('restrictNumeric');
	$('.cc-number').payment('formatCardNumber');
	$('.cc-exp').payment('formatCardExpiry');
	$('.cc-cvc').payment('formatCardCVC');

	});


	$('#quickAdd').on('click',function () {
		var value = parseFloat($('#amount').val());
		console.log(value);

		if (!value || value <= 0) {
			$('#warn').css('color', 'red').css('padding-left', '0.5em').text('Suma introdusa este invalida!');
			return false;
		}

		value += <%= user.balance %>
		value = value.toFixed(2)
		var data = {
			userId: '<%= user._id %>',
			newBallance: value
		};

	$.ajax({
		type: 'post',
		url: 'http://localhost:8080/alimentare',
		contentType: 'application/json',
		data: JSON.stringify(data),
		success: function () {
			console.log('success');
		},
		error: function () {
			console.log('error');
		}
	});
	$('.balance-number span').text(value);
});
});

	</script>
        </div>
      </div>
			<div class="col-sm-2 hidden-xs">

			</div>
    </div>
  </div>
</div>


</body>
</html>
