<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<title>Omnifee | Home</title>
  <style type="text/css">
/*
Inspired by the dribble shot http://dribbble.com/shots/1285240-Freebie-Flat-Pricing-Table?list=tags&tag=pricing_table
*/

/*--------- Font ------------*/
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*------ utiltity classes -----*/
.pt-footer a {
  color: #fff;
}
.pt-footer a:hover {
  color: #a1a1a1;
}
.fl{ float:left; }
.fr{ float: right; }
/*its also known as clearfix*/
.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1;  /*For IE 6/7 (trigger hasLayout) */
}

body {
    background: #F2F2F2;
    font-family: 'Droid Sans', sans-serif;
    line-height: 1;
    font-size: 16px;
}
.wrapper {
    background: #333333;
}
.pricing-table {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    padding: 10px;
    padding-right: 0;

}
.pricing-table .heading{
    color: #9C9E9F;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-bottom: 4rem;
}
.block{
    width: 30%;
    margin: 0 15px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
/*    border: 1px solid red;*/
}
/*Shared properties*/
.title,.pt-footer{
    color: #FEFEFE;
    text-transform: capitalize;
    line-height: 2.5;
    position: relative;
}
.content{
    position: relative;
    color: #FEFEFE;
    padding: 20px 0 10px 0;
}
/*arrow creation*/
.content:after, .content:before,.pt-footer:before,.pt-footer:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.pt-footer:after,.pt-footer:before{
    top:0;
}
.content:after,.pt-footer:after {
  border-color: rgba(136, 183, 213, 0);
  border-width: 5px;
  margin-left: -5px;
}
/*/arrow creation*/
.price{
    position: relative;
    display: inline-block;
    margin-bottom: 0.625rem;

}
.price span{
    font-size: 6rem;
    letter-spacing: 8px;
    font-weight: bold;
}
.price sup{
    font-size: 1.5rem;
    position: absolute;
    top: 12px;
    left: -12px;
}
.hint{
    font-style: italic;
    font-size: 0.9rem;
}
.features{
    list-style-type: none;
    background: #FFFFFF;
    text-align: left;
    color: #9C9C9C;
    padding:30px 22%;
    font-size: 0.7em;
    margin-bottom: 0;
}
.features li{
    padding:15px 0;
    width: 100%;
}
.features li span{
   padding-right: 0.4rem;
}
.pt-footer{
    font-size: 0.95rem;
    text-transform: capitalize;
    border-radius: 0 0 5px 5px;

}
/*PERSONAL*/
.title{
    border-radius: 5px 5px 0 0;
    margin-bottom: 0;
}
.personal .title{
    background: #78CFBF;
}
.personal .content,.personal .pt-footer{
    background: #82DACA;
}
.personal .content:after{
  border-top-color: #82DACA;
}
.personal .pt-footer:after{
    border-top-color: #FFFFFF;
}
/*PROFESSIONAL*/
.professional .title{
    background: #3EC6E0;
}
.professional .content,.professional .pt-footer{
    background: #53CFE9;
}
.professional .content:after{
  border-top-color: #53CFE9;
}
.professional .pt-footer:after{
    border-top-color: #FFFFFF;
}
/*BUSINESS*/
.business .title{
    background: #E3536C;
}
.business .content,.business .pt-footer{
    background: #EB6379;
}
.business .content:after{
  border-top-color: #EB6379;
}
.business .pt-footer:after {
  border-top-color: #FFFFFF;
}
  </style>
	<style>
	body h1, h2, h3, h4, h5, h6 {
	    font-family: 'Lato';
	}
	body p, div {
	    font-family: 'Lato';
	}
	body {
		font-size: 18px;
		font-family: 'Lato' !important;
		}
	.mainstripe .content {
  position: relative;
  padding: 0;
	background-image: url('/assets/poza.png');
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
@media (max-width: 1200px) {
	.mainstripe .content {
		width: 100%
		height: auto;
	}
}
.mainstripe .content .videoLayer video {
  /*position: fixed;*/
  /*right: 50%;*/
  /*bottom: 50%;*/
  /*-webkit-transform: translate3d(50%, 50%, 0);*/
          /*transform: translate3d(50%, 50%, 0);*/
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}
.mainstripe .content .dimmingLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.72);
}
.mainstripe .content .infoLayer {
  width: 100%;
  max-width: 900px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -60%, 0);
          transform: translate3d(-50%, -60%, 0);
}
.mainstripe .content .infoLayer .tagLine,
.mainstripe .content .infoLayer .tagDesc {
  color: #eee;
}
@media (max-width: 767px) {
  .mainstripe .content .infoLayer .tagLine h1,
  .mainstripe .content .infoLayer .tagDesc h1 {
    font-size: 1em !important;
  }
}
.mainstripe .content .infoLayer .tagDesc {
  color: #a0a0a0;
}
.mainstripe .content .infoLayer img {
  width: 80%;
}
.reasonsStripe {
  text-align: center;
  margin-top: 2em;
}
/*#loginBtn {
	position: absolute;
top: 75%;
left: 50%;
transform: translate3d(-50%, -75%, 0);
width: 20%;
height: 9%;
background-color: #ccc
}
#loginBtn:hover {
	background-color: #EE572D;
	color: #fff;*/
body {
  font-size: 18px;
  font-family: 'Lato';
  background: #fff;
}
.content {
  padding: 15px;
  background: #fff;
}
[role="page-container"] {
  padding-top: 50px;
}
@media (max-width: 767px) {
  [role="page-container"] {
    background: #eee;
  }
}
.top-bar {
  height: 3em;
  padding: 0 3em 0 3em;
}
.title-area {
  padding-top: 0.5em;
  color: #d05833;
}
.top-bar-section ul li > a {
  font-size: 1em;
  line-height: 0;
}
/* Form styles */
.has-error input {
  border-width: 2px;
  border-color: #f00;
}
.has-no-error input {
  border-width: 2px;
  border-color: #008000;
}
.validation.text-danger:after {
  content: 'Validation failed';
}
.validation.text-success:after {
  content: 'Validation passed';
}
.credit-card {
  font-size: 3em;
}
.btn {
  background: #f45537;
  border: 0;
  color: #eeeeee;
}
.btn:hover {
  background: #fa6143;
  color: #eeeeee;
}
.login-logo {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.login {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
}
.nu-ai-cont {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  max-width: 320px;
}
.preferences {
  background: #1a1a1a;
}
ul {
  list-style-type: none;
}
a {
  color: #f45537;
}
a:hover {
  color: #f45537;
  text-decoration: none;
}
.fixed {
  position: fixed;
}
.bill {
  background: #e8e8e8;
  height: 8em;
  margin: 0 0 1em 0;
  padding: 1em;
}
.bill-thumb {
  height: 6em;
}
.bill-info {
  font-size: 0.5em;
}
.bill-pay {
  float: right;
}

.pay {
  margin-bottom: -5em;
}
.total-price {
  float: right;
  margin: 1em 0 0 0;
  color: #f45537;
}
.center {
  text-align: center;
}
.btn {
  border-radius: 0;
}
.input-lg {
  border-radius: 0;
}
.balance-number {
  color: #008000;
  float: right;
}
.big-logo{
  margin-bottom: 4em;
}

}
	</style>
<style>
.navbar-brand{
  height: 3em;
  width: auto;
  margin-top: -1px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;

}
.navbar{
  /*background: #333333;*/
  border: 0;
  background: rgba(51,51,51,0.95)
}
.nav a{
  color: #a1a1a1 !important;
}
.nav a:hover{
  color: #eeeeee !important;
}
</style>
</head>
<body>
<nav role="nagivation" class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand"><img class="navbar-brand" src="/assets/omnifee.png" alt="Brand"/></a>
    </div>
    <div id="navbar-collapse" class="collapse navbar-collapse navbar-right">
      <ul class="nav navbar-nav">
        <li><a href="/login/">Log in</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="mainstripe">
  <div class="content">
    <div class="videoLayer hidden-xs">
     <video  autoplay="autoplay" loop="true">
      <source src="../../assets/video.mp4" type="video/mp4" />
     </video>

    </div>
    <div class="dimmingLayer">
    </div>
    <div class="infoLayer text-center">
      <img class="big-logo" src="../../assets/omnifee.png"/>
      <div class="tagLine">
        <h1>
          Toate facturile tale într-un singur loc.
        </h1>
      </div>
      <div class="tagDesc">
        <h1>
          Cu omnifree iti platesti facturile cu un singur click.
        </h1>
      </div>
			<div>
				<a href="/signup">
    			<button name="btn" id='loginBtn' class="btn btn-lg btn-default">Inscrie-te</button>
				</a>

			</div>
    </div>
  </div>
</div>
<div class="reasonsStripe">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="i fa fa-clock-o fa-5x">
        </div>
        <h2>
          Rapid
        </h2>
        <p>
          Recupereaza-ti timpul pierdut. Nu mai sta la cozi!
        </p>
      </div>
      <div class="col-sm-4">
        <div class="i fa fa-lock fa-5x">
        </div>
        <h2>
          Sigur
        </h2>
        <p>
          Siguranta clientilor este pe primul loc!
        </p>
      </div>
      <div class="col-sm-4">
        <div class="i fa fa-globe fa-5x">
        </div>
        <h2>
          Oriunde. Oricand
        </h2>
        <p>
          Platesti facturile de acasa sau de pe drum. Mobil, usor și flexibil!
        </p>
      </div>
    </div>
  </div>
</div>
<hr>
<div id="name2" style='padding: 3em 0'>
	<div class="container">
			<div class='row'>
				<div class='col-sm-offset-1 col-sm-2'>
			<i class="fa fa-check fa-5x" style="color: green"></i>

				</div>
				<div class='col-sm-9'>
			<h2>Toate facturile apar automat, fara introducerea lor manuala</h2>

				</div>
			</div>
	<div class='row'>
<div class='col-sm-offset-1 col-sm-2'>

	<i class="fa fa-check fa-5x" style="color: green"></i>
		</div>
		<div class='col-sm-9'>
	<h2>Recuperarea timpului pierdut la cozi</h2>

		</div>
	</div>
	<div class='row'>
		<div class='col-sm-offset-1 col-sm-2'>
	<i class="fa fa-check fa-5x" style="color: green"></i>

		</div>
		<div class='col-sm-9'>
	<h2>Totul intr-un singur cont si fara setari prealabile</h2>

		</div>
	</div>
	<div class='row'>
		<div class='col-sm-offset-1 col-sm-2'>

	<i class="fa fa-check fa-5x" style="color: green"></i>
		</div>
		<div class='col-sm-9'>
	<h2>Mobilitate si flexibilitate</h2>

		</div>
	</div>
	</div>
</div>
    </div>
    </div>
</body>
</html>
