doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="fragment", content="!")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no, minimal-ui")
    title OmniFee
    meta(name="description", content="")
    meta(name="keywords", content="facturi, online, plati, achiti, sigur, simplu, rapid, plata facturi")

    //- NB: The following semantic comments are used by 'useref' and 'wiredep'
    //- node packages to automatically do their job. See their
    //- GitHub pages for details. Don't delete unless you know what you are doing.

    // build:css({app,.tmp,dist}) /css/main.css
    // bower:css
    link(rel='stylesheet', href='bower_components/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='bower_components/foundation/css/foundation.css')
    // endbower
    link(rel="stylesheet", href="css/main.css")
    // endbuild
  body
    // build:js({app,.tmp,dist}) /js/main.js
    // bower:js
    script(src='bower_components/modernizr/modernizr.js')
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/fastclick/lib/fastclick.js')
    script(src='bower_components/jquery.cookie/jquery.cookie.js')
    script(src='bower_components/jquery-placeholder/jquery.placeholder.js')
    script(src='bower_components/foundation/js/foundation.js')
    script(src='bower_components/lightbox/js/lightbox.js')
    // endbower
    script(src="js/main.js")
    // endbuild
