.mainstripe
  .content
    .videoLayer
      //- video(src="/assets/videos/video.mp4", autoplay, loop)
    .dimmingLayer
    .infoLayer.text-center
      .tagLine
        span Toate facturile tale într-un singur loc.
      br
      .tagDesc
        span Cu omnifree iti platesti facturile cu un singur click.
