template(name='login')
  form(id='login-form')
    div Username:
      input(type='text', id='register-username')
    div Password: 
      input(type='password', id='register-password')
    
    button.btn.waves-effect.waves-light(type="submit", name="login") Submit
